/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/04/2018, 16:57:47
    Author     : admprodesp
*/

root {
    font-family: 'Segoe UI', Arial, sans-serif;
}
/* We can adjust the font-size value if we wish to make PrimeFaces components stand out by making them larger or smaller so that they don't take up as much space on the page */

.ui-widget {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: 'Segoe UI', Arial, sans-serif;
}